# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
testenv/
venv/
.venv/
env/

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# datasets / db
assignment/dataset/